@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;

  &__prev {
    text-align: left;    
  }
    
  &__next {
    text-align: right;      
  }
    
  &__prev, &__next {
    width: 50%;

   &-link {
      color: $color-white;
      background: $color-primary;
      background: linear-gradient(to right,$color-primary,$color-secondary,$color-secondary,$color-primary);
      background-size: 300% 100%;
      padding: 5px 14px;
      border-radius: $button-border-radius;
      font-size: 14px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-white;
        background-position: 100% 0;
      }

      &--disable {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.3;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
      }

    }

  }

}