@import '../../../assets/scss/variables';

.category-tag {
    padding: 20px;
    margin: 5px;
    padding: 13px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: inherit;
    border: 1px solid #efefef;
    text-transform: capitalize;
    border-radius: 5px;

    &:hover {
        color: $color-primary;
        border-color: $color-primary;
    }
}