@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  &__item {
    background-color: $color-white;
    padding: 1.125em .83333em;
    border-radius: $button-border-radius;
    border: 1px solid #ebecf0;
    box-shadow: 0 3px 10px 0 rgba(76,82,103,.1);
    @include margin-bottom(1.25);
    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: inherit;

        &:hover,
        &:focus {
          color: $color-primary;
        }

      }

    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-thumbnail {
      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: inherit;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: inherit;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-primary;
      }

    }

  }

}