/** 
 * Generic
 */
html {
 font-size: $typographic-root-font-size;
}

body {
  margin: 0;
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  background-color: $background-body !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 600;
}

h1, h2 {
  @include line-height(1.5);
}

h1, h2, h4 {
  @include margin-top(1.5);
}

h2, h3, h4, h5, h6 {
  @include margin-bottom(.5);
}

h3, h4, h5, h6, p {
  @include line-height(1);
}

h1, p {
  @include margin-bottom(1);
}

h1 {
  font-size: $typographic-base-font-size * 2;
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include margin-top(1);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
}

h5, h6 {
  font-size: $typographic-base-font-size;
  @include margin-top(2.5);
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  color: $color-base;
  display: block;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, $color-base 11px, $color-base 15px, transparent 15px, transparent 10px);
  width: 200px;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
  }

}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(.75);
  @include margin-top(.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

}