@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  display: inline-block;

  @include margin-bottom(.5);

  &__list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 5px;

      &-link {
          font-size: $typographic-small-font-size;
          color: $color-white;
          background: $color-primary;
          background: linear-gradient(to right,$color-primary,$color-secondary,$color-secondary,$color-primary);
          background-size: 300% 100%;
          padding: 2px 6px;
          border-radius: $button-border-radius;
          font-weight: 600;
          text-transform: uppercase;

        &:hover,
        &:focus {
          color: $color-white;
          background-position: 100% 0;
        }

      }

    }

  }

}