.fb_iframe_widget {
  width: 100% !important;

  span {
    width: 100% !important;

    iframe[style] {
      width: 100% !important;
    }
  }
}

.fb-comments {
  span, iframe {
    width: 100% !important;
  }
}