@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 30px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;

    background: $color-primary;
    color: $color-white;
    box-shadow: -10px 9px 0 $color-secondary;
    @include padding(1, 1.5);

    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(1);
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);
        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
          text-align: justify;
        }

      }

    }
    & ul {
      list-style: decimal;      
    }
    & a {
      text-decoration: none;
    }
    & h2:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #efefef;      
    }
    
    & h2:after {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: auto;
    background-color: $color-primary;      
    }

    & img {
      max-width: 100%;
    }

    &>ul>li>p {
      margin-bottom: auto;
    }

  }

}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 2.5;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5)
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);
      border-bottom: 1px dashed #ebebeb;

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
        text-align: justify;
      }

    }

  }

}
