@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  text-align: center;
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    @include line-height(1.125);
    @include margin(.5, 0, .5, 0);

    &-link {
      color: inherit;

      &:hover,
      &:focus {
        color: $color-primary;
      }

    }

  }

  &__subtitle {
    color: inherit;
    @include line-height(1);
    @include margin-bottom(1)
  }

}