@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  
  &__footer {
    padding-bottom: 30px;
  }

  &__footer,
  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    max-width: 150px;
    min-width: 110px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-white;
    background: $color-primary;
    background: linear-gradient(to right,$color-primary,$color-secondary,$color-secondary,$color-primary);
    background-size: 300% 100%;
    border-radius: $button-border-radius;
    font-size: inherit;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);
    z-index: 999;

    &:hover,
    &:focus {
       color: $color-white;
       background-position: 100% 0;
    }

  }

}

@include breakpoint-md {
  .post {

    &__footer,
    &__comments {
      padding: 0;
    }

    &__home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px
    }

  }

}