@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: inherit;
        color: inherit;
        font-weight: normal;
        border: 0;
        background: unset!important;

        &:hover,
        &:focus
        {
          color: $color-primary;
        }
        &--active {
          color: #2c2f3b;      
        }

      }

    }

  }

}